1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [9]:
# Kerjakan nomor 1 di sini
for angka in range(1,51):
    print(angka,'pangkat dua adalah', angka**2)

1 pangkat dua adalah 1
2 pangkat dua adalah 4
3 pangkat dua adalah 9
4 pangkat dua adalah 16
5 pangkat dua adalah 25
6 pangkat dua adalah 36
7 pangkat dua adalah 49
8 pangkat dua adalah 64
9 pangkat dua adalah 81
10 pangkat dua adalah 100
11 pangkat dua adalah 121
12 pangkat dua adalah 144
13 pangkat dua adalah 169
14 pangkat dua adalah 196
15 pangkat dua adalah 225
16 pangkat dua adalah 256
17 pangkat dua adalah 289
18 pangkat dua adalah 324
19 pangkat dua adalah 361
20 pangkat dua adalah 400
21 pangkat dua adalah 441
22 pangkat dua adalah 484
23 pangkat dua adalah 529
24 pangkat dua adalah 576
25 pangkat dua adalah 625
26 pangkat dua adalah 676
27 pangkat dua adalah 729
28 pangkat dua adalah 784
29 pangkat dua adalah 841
30 pangkat dua adalah 900
31 pangkat dua adalah 961
32 pangkat dua adalah 1024
33 pangkat dua adalah 1089
34 pangkat dua adalah 1156
35 pangkat dua adalah 1225
36 pangkat dua adalah 1296
37 pangkat dua adalah 1369
38 pangkat dua adalah 1444
39 pangkat dua adalah 1521
40 pangkat dua adalah 1600
41 pangkat dua adalah 1681
42 pangkat dua adalah 1764
43 pangkat dua adalah 1849
44 pangkat dua adalah 1936
45 pangkat dua adalah 2025
46 pangkat dua adalah 2116
47 pangkat dua adalah 2209
48 pangkat dua adalah 2304
49 pangkat dua adalah 2401
50 pangkat dua adalah 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [1]:
# Kerjakan nomor 2 di sini
nama= ['mira','novi','eli','fia','muti','zarla','zalfa','raisa','nala','nadia','juli','mahar']
asd = input('Nama : ')
asd = asd.lower()
for i in nama:
    if asd == i:
        print(f'{i}\nPencarian anda sudah berakhir')
        break
    print(i)

mira
novi
eli
fia
muti
zarla
zalfa
raisa
nala
Pencarian anda sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [12]:
# kerjakan nomor 3 di sini
import random
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']
j = 0
for i in bulan:
    if i in ['april', 'mei']:
        print(f'Pada bulan {i} robert istirahat')
        continue
    print(f'Robert akan konser di bulan {i} di kota', kota[j])
    j+=1
    if j == 8:
        j = random.randrange(0,8)

Robert akan konser di bulan januari di kota jakarta
Robert akan konser di bulan februari di kota kuala lumpur
Robert akan konser di bulan maret di kota bangkok
Pada bulan april robert istirahat
Pada bulan mei robert istirahat
Robert akan konser di bulan juni di kota seoul
Robert akan konser di bulan juli di kota canada
Robert akan konser di bulan agustus di kota london
Robert akan konser di bulan september di kota dubai
Robert akan konser di bulan oktober di kota barcelona
Robert akan konser di bulan november di kota canada
Robert akan konser di bulan desember di kota london